@import './base.css';

#app {
  padding: 50px 0 0 0;
  font-weight: normal;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.node-container {
  width: 170px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid var(--no-blue);
  margin: 10px;
  padding: 6px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.node-container:hover {
  cursor: grab;
  background-color: #90cbff26;
}

.node-container:active {
  cursor: grabbing;
}

.flutter {
  position: absolute;
  z-index: 9999;
  pointer-events: none;
}



